global
  log /dev/log local0
  daemon

defaults
  log global
  mode tcp
  timeout connect 5000
  timeout client 50000
  timeout server 50000

listen myapp
  bind :::2222
  server backend1 10.12.0.10:22
